workflow/avatar-alltext-45sec.json
{
  "updatedAt": "2026-05-17T14:57:54.631Z",
  "createdAt": "2026-05-16T16:34:38.433Z",
  "id": "tBrZja9Ltur32p5s",
  "name": "Avatar ALL-TEXT 45sec Generator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Avatar ALL-TEXT 45sec Generator Form",
        "formDescription": "Paste narration about any football match. Teams will be detected automatically from the text.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "narration",
              "fieldType": "textarea",
              "placeholder": "e.g. Real Madrid shocked Bayern Munich 3-1...",
              "requiredField": true
            },
            {
              "fieldLabel": "language",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "English"
                  },
                  {
                    "option": "French"
                  },
                  {
                    "option": "Portuguese"
                  },
                  {
                    "option": "Swahili"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "text",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Show text"
                  },
                  {
                    "option": "Hide text"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        },
        "path": ""
      },
      "id": "94473c37-98d4-40cb-a310-89dd04826262",
      "name": "Form: Video Request",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -224,
        -736
      ],
      "webhookId": "93599006-3aa6-4004-8bb7-e45ffc72f039"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 100,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify('Extract two football team names from this text. Return ONLY valid JSON with no explanation:\\n{\"home_team\": \"TeamName1\", \"away_team\": \"TeamName2\"}\\nIf no specific teams found, return: {\"home_team\": \"football\", \"away_team\": \"match\"}\\n\\nText: ' + $json.narration) }}\n  }]\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "bd8b8233-f5c8-4f7d-9589-39755fda9074",
      "name": "Extract Teams",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -736
      ],
      "credentials": {
        "anthropicApi": {
          "id": "hsBI7fX0h5Bu1JlC",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json?.content?.[0]?.text?.trim() || '{}';\nconst text = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\nlet teams = { home_team: 'football', away_team: 'match' };\ntry {\n  const parsed = JSON.parse(text);\n  if (parsed.home_team) teams.home_team = parsed.home_team;\n  if (parsed.away_team) teams.away_team = parsed.away_team;\n} catch(e) {}\nreturn [{ json: teams }];"
      },
      "id": "4b61bff9-e945-40cf-9922-6106b8176d60",
      "name": "Parse Teams",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -848
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "text_narration",
              "value": "={{ $('Form: Video Request').item.json.narration }}",
              "type": "string"
            },
            {
              "id": "1b",
              "name": "text_narration_full",
              "value": "={{ (() => { const lang = $('Form: Video Request').item.json.language || 'English'; const intros = { English: [\"Hey, it's Alex! Fresh football news just dropped — listen up... \", \"What's up! Alex here, and trust me, you need to hear this... \", \"It's your boy Alex, back again! Let me tell you what's going down in football... \", \"Yo, Alex here! Big things happening in football today... \", \"Hey hey hey! Alex in the house — hottest football takes right here... \", \"Alright alright, it's Alex! You know I always bring you the real talk... \", \"It's me, Alex! And I've got something wild to tell you today... \", \"Back again! Alex here with the latest from the football world... \", \"Guys, it's Alex! You are NOT going to believe what just happened... \"], French: [\"Salut, c'est Alex! Des news fraîches de foot — écoutez bien... \", \"Quoi de neuf! Alex ici, et croyez-moi, vous devez entendre ça... \", \"C'est moi Alex, encore là! Voilà ce qui se passe dans le foot... \", \"Salut les gars, Alex à l'antenne! Les news foot les plus chaudes... \"], Portuguese: [\"Olá, sou eu, o Alex! Notícias quentes do futebol — prestem atenção... \", \"E aí pessoal, Alex aqui! Vocês não vão acreditar no que aconteceu... \", \"De volta! Alex com as últimas do futebol para vocês... \", \"Oi oi oi, Alex aqui! Coisa grande aconteceu no futebol hoje... \"], Swahili: [\"Mambo, ni mimi Alex! Habari mpya kabisa za soka — sikilizeni... \", \"Habari, Alex hapa! Lazima msikia habari hii ya leo... \", \"Niko hapa tena! Alex na habari za hivi karibuni za soka... \", \"Vipi marafiki, ni Alex! Jambo kubwa limetokea leo kwenye soka... \"] }; const outros = { English: [\" Want more red-hot football takes? Jump straight into my WhatsApp channel — link in bio!\", \" Don't miss out — join my WhatsApp channel for daily football updates! Link in bio!\", \" Follow me on WhatsApp for all the latest football heat — link in bio!\", \" That's the tea! Hit my WhatsApp channel for more — link in bio!\", \" I'll be back with more! Join the WhatsApp channel — link in bio!\", \" And that's a wrap! Jump on my WhatsApp channel — link in bio!\", \" Want more fire takes like this? WhatsApp channel — link in bio, go go go!\", \" Catch me on WhatsApp for even more football madness — link in bio!\"], French: [\" Tu veux plus de foot? Rejoins ma chaîne WhatsApp — le lien est dans la bio!\", \" Ne rate rien! Rejoins ma chaîne WhatsApp pour les updates quotidiens — lien dans la bio!\", \" Pour plus de news foot, suis-moi sur WhatsApp — le lien est dans la bio!\", \" C'est tout pour aujourd'hui! Rejoins ma chaîne WhatsApp — lien dans la bio!\"], Portuguese: [\" Querem mais futebol? Entrem no meu canal do WhatsApp — o link está na bio!\", \" Não percam nada! Sigam meu canal no WhatsApp para atualizações diárias — link na bio!\", \" Para mais notícias de futebol, me sigam no WhatsApp — link na bio!\", \" É isso por hoje! Entrem no meu canal do WhatsApp — link na bio!\"], Swahili: [\" Mnataka habari zaidi za soka? Jiungeni na chaneli yangu ya WhatsApp — link iko kwenye bio!\", \" Msiache chochote! Jiungeni chaneli yangu ya WhatsApp kwa updates za kila siku — link kwenye bio!\", \" Kwa habari zaidi za soka, nifuateni kwenye WhatsApp — link ipo kwenye bio!\", \" Hiyo ndiyo yote kwa leo! Jiungeni chaneli ya WhatsApp — link kwenye bio!\"] }; const li = intros[lang] || intros.English; const lo = outros[lang] || outros.English; const intro = li[Math.floor(Math.random() * li.length)]; const outro = lo[Math.floor(Math.random() * lo.length)]; return intro + ($('Form: Video Request').item.json.narration || '') + outro; })() }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "text_onscreen",
              "value": "={{ $('Form: Video Request').item.json.onscreen_title || '' }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "team_home",
              "value": "={{ $json.home_team || 'football' }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "team_away",
              "value": "={{ $json.away_team || 'match' }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "image_key",
              "value": "image/88a7dcb0711f459ba001ddd1d1bffef5/original.jpg",
              "type": "string"
            },
            {
              "id": "6",
              "name": "talking_photo_id",
              "value": "={{ ({'English':'baefb006897b4dfdaf25154483ce2f39','French':'baefb006897b4dfdaf25154483ce2f39','Portuguese':'baefb006897b4dfdaf25154483ce2f39','Swahili':'baefb006897b4dfdaf25154483ce2f39'})[$('Form: Video Request').item.json.language] || 'baefb006897b4dfdaf25154483ce2f39' }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "voice_id",
              "value": "={{ ({'English':'0dd34c3eb79247238219eea35aeb58cd','French':'1c5dc9a8f8cf4de0932f91d75f43a15d','Portuguese':'2f8b7ca37f1f45f8bf8473b3bcaba64c','Swahili':'951dd5d45e2143cf9360eed82d90a698'})[$('Form: Video Request').item.json.language] || '0dd34c3eb79247238219eea35aeb58cd' }}",
              "type": "string"
            },
            {
              "id": "bg_mode",
              "name": "bg_mode",
              "value": "yt-bridge-soft",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b523949d-c3a0-4abe-91d4-d1059f7bbfea",
      "name": "Prepare Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        -848
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yt-clip.srv1278625.hstgr.cloud/clip",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"home_team\": {{ JSON.stringify($json.team_home) }},\n  \"away_team\": {{ JSON.stringify($json.team_away) }},\n  \"duration\": {{ Math.min(60, Math.max(20, Math.round($json.text_narration_full.trim().split(/\\s+/).filter(function(w){return w.length>0}).length / 2.6))) }},\n  \"offset\": 0,\n  \"bg_mode\": {{ JSON.stringify($json.bg_mode) }}\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "3c271624-7d73-43a2-bf63-144c867d4025",
      "name": "YT Clip: Get Background",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -736
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 120000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "pexels_url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "bg_source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "text_narration",
              "value": "={{ $('Prepare Variables').item.json.text_narration }}",
              "type": "string"
            },
            {
              "id": "3b",
              "name": "text_narration_full",
              "value": "={{ $('Prepare Variables').item.json.text_narration_full }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "text_onscreen",
              "value": "={{ $('Prepare Variables').item.json.text_onscreen }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "team_home",
              "value": "={{ $('Prepare Variables').item.json.team_home }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "team_away",
              "value": "={{ $('Prepare Variables').item.json.team_away }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "image_key",
              "value": "={{ $('Prepare Variables').item.json.image_key }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "voice_id",
              "value": "={{ $('Prepare Variables').item.json.voice_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2bf908a0-540b-46c7-8a45-1370d90a778e",
      "name": "Extract Background URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        -736
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2048,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify('Translate the following sports commentary to ' + $('Form: Video Request').item.json.language + '.\\nIf the target language is English, return the text EXACTLY unchanged.\\nOtherwise translate it fully, keeping the energetic enthusiastic style.\\nReturn ONLY the translated text, no explanation.\\n\\n' + $json.text_narration_full) }}\n  }]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "f3fbcf79-2625-4b86-bd12-eb4f77c1462d",
      "name": "Translate Narration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        -864
      ],
      "credentials": {
        "anthropicApi": {
          "id": "hsBI7fX0h5Bu1JlC",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bgData = $('Extract Background URL').first().json;\nconst claudeResp = $input.first().json;\nconst translated = claudeResp?.content?.[0]?.text?.trim();\nreturn [{ json: { ...bgData, text_narration_full: translated || bgData.text_narration_full } }];"
      },
      "id": "d3c9a642-3a51-463a-8cb2-779066ddb082",
      "name": "Apply Translation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -864
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"ZAX PL TikTok\",\n  \"video_inputs\": [{\n    \"character\": {\n      \"type\": \"talking_photo\",\n      \"talking_photo_id\": \"41710ae8e7674668969a01f9024f2688\",\n      \"scale\": 0.8,\n      \"offset\": { \"x\": 0, \"y\": 0 },\n      \"matting\": true,\n      \"talking_style\": \"expressive\",\n      \"expression\": \"happy\"\n    },\n    \"voice\": {\n      \"type\": \"text\",\n      \"voice_id\": {{ JSON.stringify($json.voice_id) }},\n      \"input_text\": {{ JSON.stringify($json.text_narration_full.replace(/[\\r\\n]+/g, ' ').replace(/\\s+/g, ' ').trim()) }},\n      \"speed\": 1.20,\n      \"emotion\": \"Excited\"\n    },\n    \"background\": { \"type\": \"color\", \"value\": \"#5cb81a\" }\n  }],\n  \"dimension\": { \"width\": 720, \"height\": 1280 }\n}",
        "options": {}
      },
      "id": "b814150f-74db-4884-aaea-9f3fe167b142",
      "name": "HeyGen: Create Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        -736
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHICbj9swSqkbcnH",
          "name": "HeyGen API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "video_id",
              "value": "={{ $json.data.video_id }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "text_narration",
              "value": "={{ $('Prepare Variables').item.json.text_narration }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "text_onscreen",
              "value": "={{ $('Prepare Variables').item.json.text_onscreen }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "team_home",
              "value": "={{ $('Prepare Variables').item.json.team_home }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "team_away",
              "value": "={{ $('Prepare Variables').item.json.team_away }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "pexels_url",
              "value": "={{ $('Extract Background URL').item.json.pexels_url }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "bg_source",
              "value": "={{ $('Extract Background URL').item.json.bg_source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6d0e67b7-071d-47a7-a58a-43236f1d30f6",
      "name": "Store Video ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        -736
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "path": "03a5d678-2ff6-408b-8987-facdc6612166"
      },
      "id": "93da5904-c862-4d5e-ac8c-2f2a0ad4923d",
      "name": "Wait 30s (HeyGen)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -192,
        -384
      ],
      "webhookId": "03a5d678-2ff6-408b-8987-facdc6612166"
    },
    {
      "parameters": {
        "url": "=https://api.heygen.com/v1/video_status.get?video_id={{ $json.video_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "9e3962a9-b4ad-4d6e-a8a1-891d7c6271ad",
      "name": "HeyGen: Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        -384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "cHICbj9swSqkbcnH",
          "name": "HeyGen API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.data.status === 'completed' && $json.data.video_url ? 'completed' : '' }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3",
              "leftValue": "={{ $json.data.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "bb2c97c9-7626-48c5-a62e-c822a8a09d1d",
      "name": "Is Video Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        -384
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "video_id",
              "value": "={{ $('Store Video ID').item.json.video_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ee191153-317c-4277-af2b-77cedbfcf68e",
      "name": "Pass Video ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -176
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "heygen_video_url",
              "value": "={{ $json.data.video_url }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "heygen_duration",
              "value": "={{ $json.data.duration }}",
              "type": "number"
            },
            {
              "id": "3",
              "name": "pexels_url",
              "value": "={{ $('Store Video ID').item.json.pexels_url }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "text_onscreen",
              "value": "={{ $('Store Video ID').item.json.text_onscreen }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "team_home",
              "value": "={{ $('Store Video ID').item.json.team_home }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "team_away",
              "value": "={{ $('Store Video ID').item.json.team_away }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0f0b3e52-b79e-4ff5-ae3f-6360e23e454d",
      "name": "Extract HeyGen URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "const showText = $('Form: Video Request').item.json.text !== 'Hide text';\nconst dur = $json.heygen_duration;\nconst heygenUrl = $json.heygen_video_url;\nconst pexelsUrl = $json.pexels_url;\n\nconst captionTrack = {\n  clips: [{\n    asset: {\n      type: 'caption',\n      src: 'alias://speech',\n      font: { family: 'Montserrat ExtraBold', color: '#FFFF00', size: 32, lineHeight: 1.05 },\n      margin: { top: 0.62, left: 0.04, right: 0.55 }\n    },\n    start: 0,\n    length: dur\n  }]\n};\n\nconst heygenTrack = {\n  clips: [{\n    asset: { type: 'video', src: heygenUrl, chromaKey: { color: '#5cb81a', threshold: 128, halo: 128 } },\n    alias: 'speech',\n    start: 0,\n    length: dur,\n    scale: 0.9,\n    offset: { x: 0.18, y: -0.34 }\n  }]\n};\n\nconst pexelsTrack = {\n  clips: [{\n    asset: { type: 'video', src: pexelsUrl, volume: 0 },\n    start: 0,\n    length: dur,\n    fit: 'cover',\n    effect: 'zoomIn'\n  }]\n};\n\nconst tracks = showText ? [captionTrack, heygenTrack, pexelsTrack] : [heygenTrack, pexelsTrack];\n\nreturn [{ json: { ...$input.first().json, shotstack_tracks: tracks } }];"
      },
      "id": "9e891795-d187-4232-8312-eb6d4dd95cf5",
      "name": "Build Tracks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        640,
        -400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.shotstack.io/edit/v1/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"timeline\": {\n    \"background\": \"#000000\",\n    \"tracks\": {{ JSON.stringify($json.shotstack_tracks) }}\n  },\n  \"output\": {\"format\": \"mp4\", \"resolution\": \"hd\", \"aspectRatio\": \"9:16\", \"fps\": 30}\n}",
        "options": {}
      },
      "id": "d189053a-4c10-40b0-9f6e-3bc0dd103111",
      "name": "Shotstack: Render Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2KK8HrxUmGjSQnpu",
          "name": "Shotstack API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "render_id",
              "value": "={{ $json.response.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "aa5ea9a3-b9e7-4399-bf9f-4c5b68a17fe0",
      "name": "Store Render ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -400
      ]
    },
    {
      "parameters": {
        "amount": 20,
        "path": "e130ce15-2c8b-4bb0-8981-a55b97e39d40"
      },
      "id": "fa5af7f1-8cd7-4554-b8d3-7b0a8fa06684",
      "name": "Wait 20s (Shotstack)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        512,
        -160
      ],
      "webhookId": "e130ce15-2c8b-4bb0-8981-a55b97e39d40"
    },
    {
      "parameters": {
        "url": "=https://api.shotstack.io/edit/v1/render/{{ $json.render_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "3c4eb4e9-56b6-4294-9b77-dd09130afd59",
      "name": "Shotstack: Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        -160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2KK8HrxUmGjSQnpu",
          "name": "Shotstack API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.response.status }}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2",
              "leftValue": "={{ $json.response.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "211c0966-a95c-4ebd-9e14-0b6aab088173",
      "name": "Is Render Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        -160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "render_id",
              "value": "={{ $('Store Render ID').item.json.render_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d18a0201-0002-4822-a6d1-cc945a5f241e",
      "name": "Pass Render ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "success",
              "value": "true",
              "type": "boolean"
            },
            {
              "id": "2",
              "name": "final_video_url",
              "value": "={{ $json.response.url }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "render_id",
              "value": "={{ $json.response.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2c45b759-d6ac-4e12-ab90-2d4b9a915c6a",
      "name": "Final Video URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        -176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://46.202.190.186:61880/message/sendMedia/PremierLeague",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "C77891327670-472D-AFE4-3D07B2B136B6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363425626848519@g.us\",\n  \"mediatype\": \"video\",\n  \"media\": {{ JSON.stringify($json.final_video_url) }},\n  \"fileName\": \"tiktok.mp4\",\n  \"mimetype\": \"video/mp4\"\n}",
        "options": {}
      },
      "id": "cde005c1-3c52-4b3f-b6dc-ec7422b0da08",
      "name": "Send to WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1360,
        -176
      ]
    }
  ],
  "connections": {
    "Form: Video Request": {
      "main": [
        [
          {
            "node": "Extract Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Teams": {
      "main": [
        [
          {
            "node": "Parse Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Teams": {
      "main": [
        [
          {
            "node": "Prepare Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Variables": {
      "main": [
        [
          {
            "node": "YT Clip: Get Background",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Clip: Get Background": {
      "main": [
        [
          {
            "node": "Extract Background URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Background URL": {
      "main": [
        [
          {
            "node": "Translate Narration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate Narration": {
      "main": [
        [
          {
            "node": "Apply Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Translation": {
      "main": [
        [
          {
            "node": "HeyGen: Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HeyGen: Create Video": {
      "main": [
        [
          {
            "node": "Store Video ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Video ID": {
      "main": [
        [
          {
            "node": "Wait 30s (HeyGen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s (HeyGen)": {
      "main": [
        [
          {
            "node": "HeyGen: Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HeyGen: Check Status": {
      "main": [
        [
          {
            "node": "Is Video Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Video Ready?": {
      "main": [
        [
          {
            "node": "Extract HeyGen URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Video ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Video ID": {
      "main": [
        [
          {
            "node": "Wait 30s (HeyGen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract HeyGen URL": {
      "main": [
        [
          {
            "node": "Build Tracks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tracks": {
      "main": [
        [
          {
            "node": "Shotstack: Render Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shotstack: Render Video": {
      "main": [
        [
          {
            "node": "Store Render ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Render ID": {
      "main": [
        [
          {
            "node": "Wait 20s (Shotstack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20s (Shotstack)": {
      "main": [
        [
          {
            "node": "Shotstack: Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shotstack: Check Status": {
      "main": [
        [
          {
            "node": "Is Render Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Render Ready?": {
      "main": [
        [
          {
            "node": "Final Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Render ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Render ID": {
      "main": [
        [
          {
            "node": "Wait 20s (Shotstack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Video URL": {
      "main": [
        [
          {
            "node": "Send to WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionTimeout": 720,
    "timeSavedMode": "fixed",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e96b8036-9487-4c47-923f-753e903a4bd5",
  "activeVersionId": "e96b8036-9487-4c47-923f-753e903a4bd5",
  "versionCounter": 31,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-16T16:34:38.433Z",
      "createdAt": "2026-05-16T16:34:38.433Z",
      "role": "workflow:owner",
      "workflowId": "tBrZja9Ltur32p5s",
      "projectId": "J1CbPOPY4a7IENGN",
      "project": {
        "updatedAt": "2026-03-07T13:46:00.185Z",
        "createdAt": "2026-02-21T10:32:33.550Z",
        "id": "J1CbPOPY4a7IENGN",
        "name": "Adam Kopeć <owocarz@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "91ac2a43-b6ad-478d-b710-3e1ab1e14acd"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-09T23:31:21.059Z",
      "createdAt": "2025-07-09T23:31:21.059Z",
      "id": "giPr8wYqaJHn1OWx",
      "name": "creator"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-17T14:57:54.634Z",
    "createdAt": "2026-05-17T14:57:54.634Z",
    "versionId": "e96b8036-9487-4c47-923f-753e903a4bd5",
    "workflowId": "tBrZja9Ltur32p5s",
    "nodes": [
      {
        "parameters": {
          "formTitle": "Avatar ALL-TEXT 45sec Generator Form",
          "formDescription": "Paste narration about any football match. Teams will be detected automatically from the text.",
          "formFields": {
            "values": [
              {
                "fieldLabel": "narration",
                "fieldType": "textarea",
                "placeholder": "e.g. Real Madrid shocked Bayern Munich 3-1...",
                "requiredField": true
              },
              {
                "fieldLabel": "language",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "English"
                    },
                    {
                      "option": "French"
                    },
                    {
                      "option": "Portuguese"
                    },
                    {
                      "option": "Swahili"
                    }
                  ]
                },
                "requiredField": true
              },
              {
                "fieldLabel": "text",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Show text"
                    },
                    {
                      "option": "Hide text"
                    }
                  ]
                },
                "requiredField": true
              }
            ]
          },
          "options": {
            "appendAttribution": false
          },
          "path": ""
        },
        "id": "94473c37-98d4-40cb-a310-89dd04826262",
        "name": "Form: Video Request",
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          -224,
          -736
        ],
        "webhookId": "93599006-3aa6-4004-8bb7-e45ffc72f039"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "anthropicApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 100,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify('Extract two football team names from this text. Return ONLY valid JSON with no explanation:\\n{\"home_team\": \"TeamName1\", \"away_team\": \"TeamName2\"}\\nIf no specific teams found, return: {\"home_team\": \"football\", \"away_team\": \"match\"}\\n\\nText: ' + $json.narration) }}\n  }]\n}",
          "options": {
            "timeout": 15000
          }
        },
        "id": "bd8b8233-f5c8-4f7d-9589-39755fda9074",
        "name": "Extract Teams",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          -736
        ],
        "credentials": {
          "anthropicApi": {
            "id": "hsBI7fX0h5Bu1JlC",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const raw = $json?.content?.[0]?.text?.trim() || '{}';\nconst text = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\nlet teams = { home_team: 'football', away_team: 'match' };\ntry {\n  const parsed = JSON.parse(text);\n  if (parsed.home_team) teams.home_team = parsed.home_team;\n  if (parsed.away_team) teams.away_team = parsed.away_team;\n} catch(e) {}\nreturn [{ json: teams }];"
        },
        "id": "4b61bff9-e945-40cf-9922-6106b8176d60",
        "name": "Parse Teams",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          176,
          -848
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "text_narration",
                "value": "={{ $('Form: Video Request').item.json.narration }}",
                "type": "string"
              },
              {
                "id": "1b",
                "name": "text_narration_full",
                "value": "={{ (() => { const lang = $('Form: Video Request').item.json.language || 'English'; const intros = { English: [\"Hey, it's Alex! Fresh football news just dropped — listen up... \", \"What's up! Alex here, and trust me, you need to hear this... \", \"It's your boy Alex, back again! Let me tell you what's going down in football... \", \"Yo, Alex here! Big things happening in football today... \", \"Hey hey hey! Alex in the house — hottest football takes right here... \", \"Alright alright, it's Alex! You know I always bring you the real talk... \", \"It's me, Alex! And I've got something wild to tell you today... \", \"Back again! Alex here with the latest from the football world... \", \"Guys, it's Alex! You are NOT going to believe what just happened... \"], French: [\"Salut, c'est Alex! Des news fraîches de foot — écoutez bien... \", \"Quoi de neuf! Alex ici, et croyez-moi, vous devez entendre ça... \", \"C'est moi Alex, encore là! Voilà ce qui se passe dans le foot... \", \"Salut les gars, Alex à l'antenne! Les news foot les plus chaudes... \"], Portuguese: [\"Olá, sou eu, o Alex! Notícias quentes do futebol — prestem atenção... \", \"E aí pessoal, Alex aqui! Vocês não vão acreditar no que aconteceu... \", \"De volta! Alex com as últimas do futebol para vocês... \", \"Oi oi oi, Alex aqui! Coisa grande aconteceu no futebol hoje... \"], Swahili: [\"Mambo, ni mimi Alex! Habari mpya kabisa za soka — sikilizeni... \", \"Habari, Alex hapa! Lazima msikia habari hii ya leo... \", \"Niko hapa tena! Alex na habari za hivi karibuni za soka... \", \"Vipi marafiki, ni Alex! Jambo kubwa limetokea leo kwenye soka... \"] }; const outros = { English: [\" Want more red-hot football takes? Jump straight into my WhatsApp channel — link in bio!\", \" Don't miss out — join my WhatsApp channel for daily football updates! Link in bio!\", \" Follow me on WhatsApp for all the latest football heat — link in bio!\", \" That's the tea! Hit my WhatsApp channel for more — link in bio!\", \" I'll be back with more! Join the WhatsApp channel — link in bio!\", \" And that's a wrap! Jump on my WhatsApp channel — link in bio!\", \" Want more fire takes like this? WhatsApp channel — link in bio, go go go!\", \" Catch me on WhatsApp for even more football madness — link in bio!\"], French: [\" Tu veux plus de foot? Rejoins ma chaîne WhatsApp — le lien est dans la bio!\", \" Ne rate rien! Rejoins ma chaîne WhatsApp pour les updates quotidiens — lien dans la bio!\", \" Pour plus de news foot, suis-moi sur WhatsApp — le lien est dans la bio!\", \" C'est tout pour aujourd'hui! Rejoins ma chaîne WhatsApp — lien dans la bio!\"], Portuguese: [\" Querem mais futebol? Entrem no meu canal do WhatsApp — o link está na bio!\", \" Não percam nada! Sigam meu canal no WhatsApp para atualizações diárias — link na bio!\", \" Para mais notícias de futebol, me sigam no WhatsApp — link na bio!\", \" É isso por hoje! Entrem no meu canal do WhatsApp — link na bio!\"], Swahili: [\" Mnataka habari zaidi za soka? Jiungeni na chaneli yangu ya WhatsApp — link iko kwenye bio!\", \" Msiache chochote! Jiungeni chaneli yangu ya WhatsApp kwa updates za kila siku — link kwenye bio!\", \" Kwa habari zaidi za soka, nifuateni kwenye WhatsApp — link ipo kwenye bio!\", \" Hiyo ndiyo yote kwa leo! Jiungeni chaneli ya WhatsApp — link kwenye bio!\"] }; const li = intros[lang] || intros.English; const lo = outros[lang] || outros.English; const intro = li[Math.floor(Math.random() * li.length)]; const outro = lo[Math.floor(Math.random() * lo.length)]; return intro + ($('Form: Video Request').item.json.narration || '') + outro; })() }}",
                "type": "string"
              },
              {
                "id": "2",
                "name": "text_onscreen",
                "value": "={{ $('Form: Video Request').item.json.onscreen_title || '' }}",
                "type": "string"
              },
              {
                "id": "3",
                "name": "team_home",
                "value": "={{ $json.home_team || 'football' }}",
                "type": "string"
              },
              {
                "id": "4",
                "name": "team_away",
                "value": "={{ $json.away_team || 'match' }}",
                "type": "string"
              },
              {
                "id": "5",
                "name": "image_key",
                "value": "image/88a7dcb0711f459ba001ddd1d1bffef5/original.jpg",
                "type": "string"
              },
              {
                "id": "6",
                "name": "talking_photo_id",
                "value": "={{ ({'English':'baefb006897b4dfdaf25154483ce2f39','French':'baefb006897b4dfdaf25154483ce2f39','Portuguese':'baefb006897b4dfdaf25154483ce2f39','Swahili':'baefb006897b4dfdaf25154483ce2f39'})[$('Form: Video Request').item.json.language] || 'baefb006897b4dfdaf25154483ce2f39' }}",
                "type": "string"
              },
              {
                "id": "7",
                "name": "voice_id",
                "value": "={{ ({'English':'0dd34c3eb79247238219eea35aeb58cd','French':'1c5dc9a8f8cf4de0932f91d75f43a15d','Portuguese':'2f8b7ca37f1f45f8bf8473b3bcaba64c','Swahili':'951dd5d45e2143cf9360eed82d90a698'})[$('Form: Video Request').item.json.language] || '0dd34c3eb79247238219eea35aeb58cd' }}",
                "type": "string"
              },
              {
                "id": "bg_mode",
                "name": "bg_mode",
                "value": "yt-bridge-soft",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "b523949d-c3a0-4abe-91d4-d1059f7bbfea",
        "name": "Prepare Variables",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          368,
          -848
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://yt-clip.srv1278625.hstgr.cloud/clip",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"home_team\": {{ JSON.stringify($json.team_home) }},\n  \"away_team\": {{ JSON.stringify($json.team_away) }},\n  \"duration\": {{ Math.min(60, Math.max(20, Math.round($json.text_narration_full.trim().split(/\\s+/).filter(function(w){return w.length>0}).length / 2.6))) }},\n  \"offset\": 0,\n  \"bg_mode\": {{ JSON.stringify($json.bg_mode) }}\n}",
          "options": {
            "timeout": 300000
          }
        },
        "id": "3c271624-7d73-43a2-bf63-144c867d4025",
        "name": "YT Clip: Get Background",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          560,
          -736
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 120000
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "pexels_url",
                "value": "={{ $json.url }}",
                "type": "string"
              },
              {
                "id": "2",
                "name": "bg_source",
                "value": "={{ $json.source }}",
                "type": "string"
              },
              {
                "id": "3",
                "name": "text_narration",
                "value": "={{ $('Prepare Variables').item.json.text_narration }}",
                "type": "string"
              },
              {
                "id": "3b",
                "name": "text_narration_full",
                "value": "={{ $('Prepare Variables').item.json.text_narration_full }}",
                "type": "string"
              },
              {
                "id": "4",
                "name": "text_onscreen",
                "value": "={{ $('Prepare Variables').item.json.text_onscreen }}",
                "type": "string"
              },
              {
                "id": "5",
                "name": "team_home",
                "value": "={{ $('Prepare Variables').item.json.team_home }}",
                "type": "string"
              },
              {
                "id": "6",
                "name": "team_away",
                "value": "={{ $('Prepare Variables').item.json.team_away }}",
                "type": "string"
              },
              {
                "id": "7",
                "name": "image_key",
                "value": "={{ $('Prepare Variables').item.json.image_key }}",
                "type": "string"
              },
              {
                "id": "8",
                "name": "voice_id",
                "value": "={{ $('Prepare Variables').item.json.voice_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "2bf908a0-540b-46c7-8a45-1370d90a778e",
        "name": "Extract Background URL",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          768,
          -736
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "anthropicApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2048,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify('Translate the following sports commentary to ' + $('Form: Video Request').item.json.language + '.\\nIf the target language is English, return the text EXACTLY unchanged.\\nOtherwise translate it fully, keeping the energetic enthusiastic style.\\nReturn ONLY the translated text, no explanation.\\n\\n' + $json.text_narration_full) }}\n  }]\n}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "f3fbcf79-2625-4b86-bd12-eb4f77c1462d",
        "name": "Translate Narration",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          896,
          -864
        ],
        "credentials": {
          "anthropicApi": {
            "id": "hsBI7fX0h5Bu1JlC",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const bgData = $('Extract Background URL').first().json;\nconst claudeResp = $input.first().json;\nconst translated = claudeResp?.content?.[0]?.text?.trim();\nreturn [{ json: { ...bgData, text_narration_full: translated || bgData.text_narration_full } }];"
        },
        "id": "d3c9a642-3a51-463a-8cb2-779066ddb082",
        "name": "Apply Translation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          -864
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.heygen.com/v2/video/generate",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"title\": \"ZAX PL TikTok\",\n  \"video_inputs\": [{\n    \"character\": {\n      \"type\": \"talking_photo\",\n      \"talking_photo_id\": \"41710ae8e7674668969a01f9024f2688\",\n      \"scale\": 0.8,\n      \"offset\": { \"x\": 0, \"y\": 0 },\n      \"matting\": true,\n      \"talking_style\": \"expressive\",\n      \"expression\": \"happy\"\n    },\n    \"voice\": {\n      \"type\": \"text\",\n      \"voice_id\": {{ JSON.stringify($json.voice_id) }},\n      \"input_text\": {{ JSON.stringify($json.text_narration_full.replace(/[\\r\\n]+/g, ' ').replace(/\\s+/g, ' ').trim()) }},\n      \"speed\": 1.20,\n      \"emotion\": \"Excited\"\n    },\n    \"background\": { \"type\": \"color\", \"value\": \"#5cb81a\" }\n  }],\n  \"dimension\": { \"width\": 720, \"height\": 1280 }\n}",
          "options": {}
        },
        "id": "b814150f-74db-4884-aaea-9f3fe167b142",
        "name": "HeyGen: Create Video",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1184,
          -736
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "cHICbj9swSqkbcnH",
            "name": "HeyGen API"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "video_id",
                "value": "={{ $json.data.video_id }}",
                "type": "string"
              },
              {
                "id": "2",
                "name": "text_narration",
                "value": "={{ $('Prepare Variables').item.json.text_narration }}",
                "type": "string"
              },
              {
                "id": "3",
                "name": "text_onscreen",
                "value": "={{ $('Prepare Variables').item.json.text_onscreen }}",
                "type": "string"
              },
              {
                "id": "4",
                "name": "team_home",
                "value": "={{ $('Prepare Variables').item.json.team_home }}",
                "type": "string"
              },
              {
                "id": "5",
                "name": "team_away",
                "value": "={{ $('Prepare Variables').item.json.team_away }}",
                "type": "string"
              },
              {
                "id": "6",
                "name": "pexels_url",
                "value": "={{ $('Extract Background URL').item.json.pexels_url }}",
                "type": "string"
              },
              {
                "id": "7",
                "name": "bg_source",
                "value": "={{ $('Extract Background URL').item.json.bg_source }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "6d0e67b7-071d-47a7-a58a-43236f1d30f6",
        "name": "Store Video ID",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1344,
          -736
        ]
      },
      {
        "parameters": {
          "amount": 30,
          "path": "03a5d678-2ff6-408b-8987-facdc6612166"
        },
        "id": "93da5904-c862-4d5e-ac8c-2f2a0ad4923d",
        "name": "Wait 30s (HeyGen)",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -192,
          -384
        ],
        "webhookId": "03a5d678-2ff6-408b-8987-facdc6612166"
      },
      {
        "parameters": {
          "url": "=https://api.heygen.com/v1/video_status.get?video_id={{ $json.video_id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "id": "9e3962a9-b4ad-4d6e-a8a1-891d7c6271ad",
        "name": "HeyGen: Check Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -16,
          -384
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "cHICbj9swSqkbcnH",
            "name": "HeyGen API"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "or",
            "conditions": [
              {
                "id": "1",
                "leftValue": "={{ $json.data.status === 'completed' && $json.data.video_url ? 'completed' : '' }}",
                "rightValue": "completed",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "2",
                "leftValue": "={{ $json.data.status }}",
                "rightValue": "failed",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "3",
                "leftValue": "={{ $json.data.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            }
          },
          "options": {}
        },
        "id": "bb2c97c9-7626-48c5-a62e-c822a8a09d1d",
        "name": "Is Video Ready?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          160,
          -384
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "video_id",
                "value": "={{ $('Store Video ID').item.json.video_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "ee191153-317c-4277-af2b-77cedbfcf68e",
        "name": "Pass Video ID",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          272,
          -176
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "heygen_video_url",
                "value": "={{ $json.data.video_url }}",
                "type": "string"
              },
              {
                "id": "2",
                "name": "heygen_duration",
                "value": "={{ $json.data.duration }}",
                "type": "number"
              },
              {
                "id": "3",
                "name": "pexels_url",
                "value": "={{ $('Store Video ID').item.json.pexels_url }}",
                "type": "string"
              },
              {
                "id": "4",
                "name": "text_onscreen",
                "value": "={{ $('Store Video ID').item.json.text_onscreen }}",
                "type": "string"
              },
              {
                "id": "5",
                "name": "team_home",
                "value": "={{ $('Store Video ID').item.json.team_home }}",
                "type": "string"
              },
              {
                "id": "6",
                "name": "team_away",
                "value": "={{ $('Store Video ID').item.json.team_away }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "0f0b3e52-b79e-4ff5-ae3f-6360e23e454d",
        "name": "Extract HeyGen URL",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          496,
          -400
        ]
      },
      {
        "parameters": {
          "jsCode": "const showText = $('Form: Video Request').item.json.text !== 'Hide text';\nconst dur = $json.heygen_duration;\nconst heygenUrl = $json.heygen_video_url;\nconst pexelsUrl = $json.pexels_url;\n\nconst captionTrack = {\n  clips: [{\n    asset: {\n      type: 'caption',\n      src: 'alias://speech',\n      font: { family: 'Montserrat ExtraBold', color: '#FFFF00', size: 32, lineHeight: 1.05 },\n      margin: { top: 0.62, left: 0.04, right: 0.55 }\n    },\n    start: 0,\n    length: dur\n  }]\n};\n\nconst heygenTrack = {\n  clips: [{\n    asset: { type: 'video', src: heygenUrl, chromaKey: { color: '#5cb81a', threshold: 128, halo: 128 } },\n    alias: 'speech',\n    start: 0,\n    length: dur,\n    scale: 0.9,\n    offset: { x: 0.18, y: -0.34 }\n  }]\n};\n\nconst pexelsTrack = {\n  clips: [{\n    asset: { type: 'video', src: pexelsUrl, volume: 0 },\n    start: 0,\n    length: dur,\n    fit: 'cover',\n    effect: 'zoomIn'\n  }]\n};\n\nconst tracks = showText ? [captionTrack, heygenTrack, pexelsTrack] : [heygenTrack, pexelsTrack];\n\nreturn [{ json: { ...$input.first().json, shotstack_tracks: tracks } }];"
        },
        "id": "9e891795-d187-4232-8312-eb6d4dd95cf5",
        "name": "Build Tracks",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          640,
          -400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.shotstack.io/edit/v1/render",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"timeline\": {\n    \"background\": \"#000000\",\n    \"tracks\": {{ JSON.stringify($json.shotstack_tracks) }}\n  },\n  \"output\": {\"format\": \"mp4\", \"resolution\": \"hd\", \"aspectRatio\": \"9:16\", \"fps\": 30}\n}",
          "options": {}
        },
        "id": "d189053a-4c10-40b0-9f6e-3bc0dd103111",
        "name": "Shotstack: Render Video",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          800,
          -400
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "2KK8HrxUmGjSQnpu",
            "name": "Shotstack API"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "render_id",
                "value": "={{ $json.response.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "aa5ea9a3-b9e7-4399-bf9f-4c5b68a17fe0",
        "name": "Store Render ID",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1008,
          -400
        ]
      },
      {
        "parameters": {
          "amount": 20,
          "path": "e130ce15-2c8b-4bb0-8981-a55b97e39d40"
        },
        "id": "fa5af7f1-8cd7-4554-b8d3-7b0a8fa06684",
        "name": "Wait 20s (Shotstack)",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          512,
          -160
        ],
        "webhookId": "e130ce15-2c8b-4bb0-8981-a55b97e39d40"
      },
      {
        "parameters": {
          "url": "=https://api.shotstack.io/edit/v1/render/{{ $json.render_id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "id": "3c4eb4e9-56b6-4294-9b77-dd09130afd59",
        "name": "Shotstack: Check Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          704,
          -160
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "2KK8HrxUmGjSQnpu",
            "name": "Shotstack API"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "or",
            "conditions": [
              {
                "id": "1",
                "leftValue": "={{ $json.response.status }}",
                "rightValue": "done",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "2",
                "leftValue": "={{ $json.response.status }}",
                "rightValue": "failed",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            }
          },
          "options": {}
        },
        "id": "211c0966-a95c-4ebd-9e14-0b6aab088173",
        "name": "Is Render Ready?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          896,
          -160
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "render_id",
                "value": "={{ $('Store Render ID').item.json.render_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "d18a0201-0002-4822-a6d1-cc945a5f241e",
        "name": "Pass Render ID",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1008,
          16
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "success",
                "value": "true",
                "type": "boolean"
              },
              {
                "id": "2",
                "name": "final_video_url",
                "value": "={{ $json.response.url }}",
                "type": "string"
              },
              {
                "id": "3",
                "name": "render_id",
                "value": "={{ $json.response.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "2c45b759-d6ac-4e12-ab90-2d4b9a915c6a",
        "name": "Final Video URL",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1136,
          -176
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://46.202.190.186:61880/message/sendMedia/PremierLeague",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "C77891327670-472D-AFE4-3D07B2B136B6"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"number\": \"120363425626848519@g.us\",\n  \"mediatype\": \"video\",\n  \"media\": {{ JSON.stringify($json.final_video_url) }},\n  \"fileName\": \"tiktok.mp4\",\n  \"mimetype\": \"video/mp4\"\n}",
          "options": {}
        },
        "id": "cde005c1-3c52-4b3f-b6dc-ec7422b0da08",
        "name": "Send to WhatsApp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1360,
          -176
        ]
      }
    ],
    "connections": {
      "Form: Video Request": {
        "main": [
          [
            {
              "node": "Extract Teams",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Teams": {
        "main": [
          [
            {
              "node": "Parse Teams",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Teams": {
        "main": [
          [
            {
              "node": "Prepare Variables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Variables": {
        "main": [
          [
            {
              "node": "YT Clip: Get Background",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "YT Clip: Get Background": {
        "main": [
          [
            {
              "node": "Extract Background URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Background URL": {
        "main": [
          [
            {
              "node": "Translate Narration",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Translate Narration": {
        "main": [
          [
            {
              "node": "Apply Translation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Apply Translation": {
        "main": [
          [
            {
              "node": "HeyGen: Create Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HeyGen: Create Video": {
        "main": [
          [
            {
              "node": "Store Video ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store Video ID": {
        "main": [
          [
            {
              "node": "Wait 30s (HeyGen)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 30s (HeyGen)": {
        "main": [
          [
            {
              "node": "HeyGen: Check Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HeyGen: Check Status": {
        "main": [
          [
            {
              "node": "Is Video Ready?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Video Ready?": {
        "main": [
          [
            {
              "node": "Extract HeyGen URL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Pass Video ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pass Video ID": {
        "main": [
          [
            {
              "node": "Wait 30s (HeyGen)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract HeyGen URL": {
        "main": [
          [
            {
              "node": "Build Tracks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Tracks": {
        "main": [
          [
            {
              "node": "Shotstack: Render Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Shotstack: Render Video": {
        "main": [
          [
            {
              "node": "Store Render ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store Render ID": {
        "main": [
          [
            {
              "node": "Wait 20s (Shotstack)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 20s (Shotstack)": {
        "main": [
          [
            {
              "node": "Shotstack: Check Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Shotstack: Check Status": {
        "main": [
          [
            {
              "node": "Is Render Ready?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Render Ready?": {
        "main": [
          [
            {
              "node": "Final Video URL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Pass Render ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pass Render ID": {
        "main": [
          [
            {
              "node": "Wait 20s (Shotstack)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Final Video URL": {
        "main": [
          [
            {
              "node": "Send to WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Adam Kopeć",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-17T14:57:54.695Z",
        "id": 548,
        "workflowId": "tBrZja9Ltur32p5s",
        "versionId": "e96b8036-9487-4c47-923f-753e903a4bd5",
        "event": "deactivated",
        "userId": "91ac2a43-b6ad-478d-b710-3e1ab1e14acd"
      },
      {
        "createdAt": "2026-05-17T14:57:54.720Z",
        "id": 549,
        "workflowId": "tBrZja9Ltur32p5s",
        "versionId": "e96b8036-9487-4c47-923f-753e903a4bd5",
        "event": "activated",
        "userId": "91ac2a43-b6ad-478d-b710-3e1ab1e14acd"
      }
    ]
  }
}